$box-width: 400px;
$box-height: 500px;
$box-padding: 1rem;
.uploader {
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.4fr 2fr 0.2fr;
    gap: 20px 0px;
    grid-template-areas: ". head ." ". form ." ". shareBtn .";
    left: calc(50vw - (#{$box-width} / 2) - #{$box-padding});
    top: calc(50vh - (#{$box-height} / 2) - #{$box-padding});
    width: $box-width;
    height: $box-height;
    background: rgba(28, 28, 28, 0.87);
    box-shadow: 0px 4px 9px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(30px);
    border-radius: 8px;
    padding: $box-padding;
}

.share {
    grid-area: shareBtn;
}

.form {
    grid-area: form;
}

.head {
    grid-area: head;
    text-align: center;
}

.pass {
    background: rgba(28, 28, 28, 0.29);
    border: 1px solid rgba(0, 0, 0, 0.18);
    box-sizing: border-box;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    height: 3vh;
}